extends ../assets/components/template.pug
block body
	div(class="bread-container")
		div(class="bread-box")
			div
				a(href="/") Home
			div /
			div
				a(href="/projects.html") Projects
			div /
			div
				a(href="/projects/cola-css.html") Cola-Css
	section(class="page-section-container")
		div(class="page-section-intro-section" style="margin-bottom: 50px;")
			h1(class="text-uppercase")=page.title
			div(class="page-section-text-divider")
			p(style="padding-bottom: 40px;")=page.description
		div(class="page-section-projects-container")
			div(class="page-section-projects-box")
				div
					div(class="page-section-projects-box-title") Story
					p(class="page-section-projects-box-text" id="page-section-projects-box-text")=page.story
				div
					div(class="page-section-projects-box-title" style="padding-top: 50px;") Contributers
					div(class="page-section-projects-contributers-box")
						each contributer in page.contributers
							a(href=contributer.link class="project-contributer-control")
								div(class="page-section-projects-img-overlay")
								img(src=contributer.imgUrl alt=contributer.altText)
			div(class="page-section-projects-box")
				div
					div(class="page-section-projects-box-title" id="pd-top-on-mobile") Resources
					div(class="page-section-project-tools-used")
						div
							each resource in page.resources
								div
									a(href=resource.link)=resource.title
				div
					div(class="page-section-projects-box-title") Built With
					div(class="page-section-project-tools-used")
						div
							each software in page.builtWith
								div
									a(href=software.link)=software.title
